.promo {
  padding-bottom: 200px;
}

.promo::before {
  position: absolute;
  top: 55px;
  right: -270px;

  width: 1085px;
  height: 525px;

  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.title-header {
  position: relative;

  max-width: 600px;
}

.btn-header {
  margin-right: auto;
}

.video {
  margin-bottom: -200px;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-video {
  max-width: 600px;
}

.text-video {
  margin: 30px 0;
}

.card {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 24px;
}

.card:nth-child(3n + 3) {
  margin-right: 0;
}

.card-info {
  padding: 0;
}

.card-info .menu-title {
  font-weight: 400;
  font-size: 52px;
}

.card-title {
  margin-bottom: 16px;
}

.card-count {
  display: block;

  padding-bottom: 40px;

  font-size: 64px;
  font-family: var(--font-title);
  line-height: 1;
}
