.promo {
  padding-bottom: 200px;
}

.promo::before {
  position: absolute;
  top: 55px;
  right: -270px;

  width: 1085px;
  height: 525px;

  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.title-header {
  position: relative;
  max-width: 600px;
}

.btn-header {
  margin-right: auto;
}

.video {
  margin-bottom: -100px;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-video {
  max-width: 600px;
}

.text-video {
  margin: 30px 0;
}
